#header-container {
    top: 0;
    position: absolute;
}

/* Home Page  */

#main {
    margin-top: 75px;
}

/* HERO SECTION */

.hero {
    height: 88vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.hero-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hero-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.hero-content {
    z-index: 2;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pages-box, .intro{
    width: 100%;
}

.pages{
    position: relative;
    display: inline-block;
}

.pages p{
    position: absolute;
    color: var(--yellow);
    font-family: "HanumanBold";
    background: rgba(29, 28, 28, 0.863);
    bottom: 25%;
    width: 100%;
    padding: 22px 0;
}
.pages img{
    width: 30vw;
    min-width: 250px;
    border: solid var(--logo-red) 2px;
    border-radius: 7px;
    background-position: fill;
    box-shadow: rgba(241, 29, 29, 0.39) 0px 10px 20px, rgba(252, 64, 64, 0.719) 0px 6px 6px;    
}

/* INTRO */

.intro {
    text-align: center;
    padding: 1.5rem;
}

.intro span{
    font-family: "VarelaRound";
    font-weight: bolder;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--logo-red);
}

.intro p {
    font-family: "HanumanBold";
    letter-spacing: 1px;
    color: whitesmoke;
    padding: 1rem;
}

.intro p strong {
    font-family: "FlatBrush";
    font-size: 1.1rem;
}

.download-brochure {
    background: var(--sapphire);
    border: solid var(--logo-red) 2px;
    color: white;
    font-family: "HanumanBold";
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    border-radius: 7px;
    font-weight: bold;
    text-transform: uppercase;
}

.download-brochure:hover{
    background: var(--logo-red);
    color: white;
}

/* QUICK LINKS  */

.quick-links-container {
    width: 100%;
    background: #EBEEF3;
    text-align: center;
    padding: 2.5rem 0;
}

.quick-links-container>h1 {
    color: var(--shadow-gray);
    padding: 0.5rem;
    position: relative;
    display: inline-block;
}

.quick-links-container>h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 4px;
    background: var(--logo-red);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
}

.quick-links {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.link-image,
.link-info {
    flex: 1;
}

.link-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-image a {
    width: 75%;
    height: 100%;
}

.link-image img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 7px;
    border: solid #2195f34f 5px;
    filter: grayscale(55%);
    box-shadow: 0 2px 4px rgba(68, 62, 62, 0.312);
}

.link-image img:hover {
    transform: scale(1.05);
    filter: grayscale(0%);
    border: solid var(--logo-red) 5px;
    border-radius: 0px;
}

.link-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    background: #EEEEEE;
}

.link-info h2 {
    color: var(--trust-blue);
}

.link-info P {
    font-family: "RalewaySemiBold";
    font-size: var(--text-lg);
}

.link-info a {
    align-self: center;
    padding: 5px 7px;
    background: var(--logo-red);
    border-radius: 25px;
    font-family: "HanumanBold";
    color: white;
    border: 2px solid var(--sapphire);
    display: inline block;
    font-size: 0.875rem;
}

.link-info a:hover {
    background: #003366;
    border-color: var(--flame-logo);
    border: 2px solid var(--logo-red);
}

/* WHY US  */

.why-us{
    padding: 2rem 0;
    text-align: center;
}

.why-us>h2{
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    color: var(--shadow-gray);
}
.why-us h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 4px;
    background: var(--logo-red);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
}
.card-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 1.5rem;
    justify-content: center;
}
.card-container{
    display: flex;
    flex-direction: column;
    background: #eeeeee9f;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    min-width: 280px;
    max-width: 320px;
    flex: 1 1 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    gap: 0.5rem;
    border: solid var(--sapphire) 2px;
}
.card-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    border: solid var(--logo-red) 2px;
}

.card-container span{
    background: var(--sapphire);
    padding: 11px;
    color: white;
    border-radius: 9px;
    align-self: center;
    font-weight: bolder;
}
.card-container h5{
    color: var(--sapphire);
}

.card-container span .icon{
    color: white;
    fill: currentColor;
    display: block;
    margin: 0 auto;
    width: 22px;
    height: 22px;
    box-sizing: content-box;
}

/* CLIENTS SCETION  */

.clients-section {
    background: rgb(255, 255, 255);
    padding: 0.5rem 0;
    position: relative;
    overflow: hidden;
}

.marquee-container {
    display: flex;
    width: 100%;
    position: relative;
}

.marquee-track {
    display: flex;
    animation: marquee 30s linear infinite;
    padding: 1rem 0;
}

.client-logo {
    height: 55px;
    margin: 0 2rem;
    /* filter: grayscale(30%); */
    /* opacity: 0.7; */
    transition: all 0.3s ease;
}

.client-logo:hover {
    /* filter: grayscale(0%); */
    /* opacity: 1; */
    transform: scale(1.5);
}

.marquee-container::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100px;
    background: linear-gradient(90deg, rgba(91, 87, 85, 0.262) 0%, rgb(72, 70, 69) 100%);
    z-index: 2;
}

.marquee-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100px;
    background: linear-gradient(90deg, rgb(72, 70, 69) 0%, rgba(91, 87, 85, 0.262) 100%);
    z-index: 2;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
    .quick-links {
        flex-direction: row;
    }

    .quick-links:nth-child(odd) {
        flex-direction: row-reverse;
    }
}

@media (max-width: 992px) {
    .flip-card-container {
        flex-wrap: wrap;
    }
    .card-container {
        width: 250px;
        height: 250px;
    }
}


@media (min-width: 992px) {
    .hero-content{
        flex-direction: row-reverse;
        align-items: center;
    }
}

/* KEYFRAMES */

@keyframes glow {
    0% {
        text-shadow: 0 0 5px #ff4000a1, 0 0 10px #ff4000a1, 0 0 20px #ff400094, 0 0 40px #ff40009c, 0 0 80px #ff40009c;
    }

    100% {
        text-shadow: 0 0 10px #0033ff8e, 0 0 20px #0033ffa2, 0 0 40px #0033ff96, 0 0 80px #0033ff94, 0 0 160px #0033ff9c;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes pulse-border {
    0% {
        border-color: rgba(233, 97, 6, 0.644);
    }

    50% {
        border-color: rgba(128, 92, 69, 0.651);
    }

    100% {
        border-color: rgba(214, 101, 8, 0.781);
    }
}
