
/* Header Styles */

.header-content {
    width: 100%;
    z-index: 1000;
    background: white !important;
    position: fixed;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px #25000023;
    padding: 0 5%;
    gap: 0.2rem;
}

/* Header Image  */

.logo-img {
    width: 55px;
    height: auto;
}
.logo-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Header Title  */

.title {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: flex-start;
    line-height: 0.9;
    /* border: solid red 2px; */
}

.title #name {
    font-family: "FlatBrush";
    color: var(--logo-red);
    font-size: 39px;
}
.title #tag {
    color: black;
    font-family: "VarelaRound";
    font-size: 10.1px;
    text-transform: uppercase;
    font-weight: bolder;
}

/* Menu Button  */
.menu-btn {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 22px;
    font-weight: bolder;
    color: white;
    background: var(--logo-red);
}


/* Mobile Nav  */
.mobile-nav {
    position: fixed;
    top: 70px;
    left: 0;
    width: 85%;
    height: 100vh;
    background-color: var(--shadow-gray);
    border: solid var(--logo-red) 2px;
    border-left: none;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    /* text-align: left; */
    border-radius: 7px;
    /* align-items: left; */
    padding: 1.5rem;
    overflow-y: scroll;
}
.mobile-nav.open {
    transform: translateX(0);
}

.mobile-nav .cta2{
    align-self: center;
    margin-bottom: 1.5rem;
    /* width: 100%; */
}
.mobile-nav .brochure{
    align-self: center;
    margin-top: 1.5rem;
    /* width: 100%; */
}

/* .download-brochure {
    background: var(--sapphire);
    border: solid var(--logo-red) 2px;
    color: white;
    font-family: "HanumanBold";
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    border-radius: 7px;
    font-weight: bold;
    text-transform: uppercase;
} */

.mobile-nav-links{
    /* margin: 1.5rem; */
    /* padding: 0.5rem; */
    background: white;
    display: flex;
    flex-direction: column;
    /* width: 70%; */
}

.mobile-nav-links a {
    text-decoration: none;
    /* display: flex; */
    font-family: "HanumanBold";
    /* align-items: center; */
    /* border: solid; */
    /* width: 70%; */
    color: var(--logo-red);
    margin: 0.5rem;
    /* border: solid black 1px; */
    /* background-color: #D3DDDE; */
}


/* Mobile Nav - Submenu  */
.mobile-nav .submenu {
    display: flex;
    flex-direction: column;
    position: relative;
    /* width: 100%; */
    /* border-left: solid 2px red; */
    /* border-right: solid 2px red; */
    /* border-radius: 7px; */
}

.mobile-nav .submenu a{
    background-color: rgba(247, 243, 243, 0.59);
    /* margin: 2px; */
    /* border-radius: 7px; */
    color: var(--dark-blue);
    font-family: "RaleWaySemiBold";
    margin-left: 1.5rem;
    /* padding-right: 5px; */
    /* width: 100%; */
    
}
.mobile-nav .submenu.show {
    display: flex;
    flex-direction: column;
    max-height: none;
    opacity: 1;
    text-align: left;
}

.mobile-nav .icon{
    /* display: inline-block; */
    /* color: red; */
    /* fill: currentColor; */
    width: 22px;
    height: 22px;
    /* flex-shrink: 0; */
    /* vertical-align: sub; */
}



/* Desktop Nav  */
.nav-container {
    flex-grow: 0.2;
    display: none;
    /* border: solid red 2px; */
}
.nav-links {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    display: none;
    margin-top: 9px;
    gap: 0.5rem;
}
.nav-links a {
    font-family: "HanumanBold";
    color: rgb(20, 1, 1);
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 5px;
    /* border: solid red 2px; */
}
.nav-links a:hover {
    color: blue;
    /* color: #3498db; */
}
.nav-links a span {
    display: inline-block;
    transition: transform 0.5s ease, color 0.5s ease;
}
.nav-links a:hover span {
    transform: rotate(90deg);
}

.nav-links a.nav-link.isActive {
    color: var(--logo-red);
    font-weight: bold;
    position: relative;
}


/* Desktop Nav - Submenu  */
.nav-links .has-submenu {
    position: relative;
}
.nav-links .has-submenu:hover .submenu {
    max-height: 375px;
    opacity: 1;
    visibility: visible;
}
.nav-links .submenu {
    position: absolute;
    background-color: var(--logo-red);
    min-width: 285px;
    width: 100%;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.422);
    border-radius: 4px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    max-height: 0;
    overflow: hidden;
    padding-left: 3px;
}
.nav-links .submenu a {
    display: block;
    border-radius: 5px;
    margin: 2px;
    font-size: 0.875rem;
    background-color: #D3DDDE;
}
.nav-links .submenu a:hover {
    background-color: var(--logo-red) !important;
    color: white;
}

.nav-links a.submenu-toggle.isActive {
    color: var(--logo-red);
    font-weight: bold;
    position: relative;
}

/* CTA  */
.cta{
    display: none;
}
.cta a {
    color: white;
    font-family: "VarelaRound";
    font-size: var(--text-sm);
    border: solid black 2px;
    background: var(--logo-red);
}
.cta a:hover {
    background: var(--sapphire);
    border: solid var(--logo-red) 2px;
}
.cta-button {
    text-decoration: none;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 7px 11px;
}

/* CTA 2  */
.cta2 a {
    color: white;
    font-family: "VarelaRound";
    font-size: var(--text-sm);
    border: solid black 2px;
    background: var(--logo-red);
    padding: 7px 11px;
}
.cta2 a:hover {
    background: var(--sapphire);
    border: solid var(--logo-red) 2px;
}
.cta2-button {
    text-decoration: none;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: bolder;
}


/* Breakpoints  */
@media (min-width: 992px) {
    .menu-btn {
        display: none;
    }
    .mobile-nav {
        display: none; 
    }
    .nav-container{
        display: block;
    }
    .nav-links {
        display: flex;
    }
    .cta{
        display: block;
    }

}
