<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Footer HTML">
    <base href="/aashthafire/">
</head>

<footer class="site-footer">
    <div class="footer-container">

        <div class="footer-branding">
            <img src="../assets/images/self/banner.webp" alt="Company Logo" class="footer-logo">
            <p class="footer-tagline">Your Faith, Our Pledge</p>
        </div>

        <!-- Mobile Accordion Menus -->
        <div class="footer-menus">
            <div class="footer-menu mobile-accordion">
                <button class="accordion-toggle">Quick Links</button>
                <ul class="menu-list">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../pages/about.html">About Us</a></li>
                    <li><a href="../pages/sustain.html">Sustainability</a></li>
                    <li><a href="/" id="enquiryLink">Contact Us</a></li>
                </ul>
            </div>

            <div class="footer-menu mobile-accordion">
                <button class="accordion-toggle">Connect</button>
                <ul class="menu-list">
                    <li><a href="mailto:info@aashthafire.com">info@aashthafire.com</a></li>
                    <li><a href="mob:+916292020062">(+91) 62920 20062</a></li>
                    <li><a href="/">Purbasha, Ground Floor, 172, P. S. Bye Lane, Kolkata - 700 030</a></li>

                </ul>
            </div>
        </div>

        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScIkrTe8pdOY6l8LZCJolK1gyR1HZRV2cDe0GTS8kn9ctD9lw/viewform"
                    target="_blank" rel="noopener noreferrer">
                    Fill out our form (opens in new tab)
                </a>
            </div>
        </div>

    </div>
    <!-- Copyright -->
    <div class="footer-copyright">
        <p>&copy; <span id="current-year"></span> Aashtha Fire Engineers Pvt. Ltd.</p>
    </div>
</footer>

</html>