<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Header HTML">
    <base href="/aashthafire/">
</head>

<header class="header-content">
    <div class="logo-img">
        <a href="../index.html">
            <img src="../assets/images/self/Aashtha_logo_new.png" alt="Logo" class="logo">
        </a>
    </div>

    <div class="title">
        <span id="name">Aashtha</span>
        <span id="tag">Your Faith, Our Pledge</span>
    </div>

    <!-- Desktop Navigation  -->
    <nav class="nav-container">
        <div class="nav-links">
            <a href="../index.html" class="nav-link" data-page="home">Home</a>
            <div class="has-submenu">
                <a href="javascript:void(0)" class="submenu-toggle">Services <span>+</span></a>
                <div class="submenu">
                    <a href="../pages/fra.html" class="nav-link">- Fire Risk Assessment</a>
                    <a href="../pages/intri-main.html" class="nav-link">- System Integration and Maintenance</a>
                    <a href="../pages/firedrill.html" class="nav-link">- Fire Drill and Awareness</a>
                    <a href="../pages/firelicense.html" class="nav-link">- Fire License / NOC</a>
                </div>
            </div>
            <div class="has-submenu">
                <a href="javascript:void(0)" class="submenu-toggle">Safety and Security <span>+</span></a>
                <div class="submenu">
                    <a href="../pages/evacuation.html" class="nav-link">- Evacuation Strategy</a>
                    <a href="../pages/compartment.html" class="nav-link">- Compartmentation</a>
                    <a href="../pages/escape.html" class="nav-link">- Means of Escape</a>
                    <a href="../pages/pava.html" class="nav-link">- PA/VA System</a>
                </div>
            </div>
            <a href="../pages/sustain.html" class="nav-link">Sustainability</a>
            <a href="../pages/about.html" class="nav-link">About Us</a>
        </div>
    </nav>

    <div class="cta">
        <a href="/"  id="enquiryLink" class="cta-button">Get A Quote</a>
    </div>

    <div class="button-wrapper">
        <button class="menu-btn" id="menuBtn">
            <span class="menu-icon">⋮</span>
            <span class="close-icon" style="display:none;rotate:90deg">⋮</span>
        </button>
    </div>

    <!-- Mobile Navigation  -->
    <nav class="mobile-nav" id="mobileNav">

        <div class="cta2">
            <a href="/"  id="enquiryLink" class="cta2-button">Get A Quote</a>
        </div>

        <div class="mobile-nav-links">
            <a href="../index.html">Home</a>

            <div class="has-submenu">
                <a href="../index.html" class="submenu-toggle" >Safety and Security <span>+</span></a>
                <div class="submenu">
                    <a href="../pages/evacuation.html">- Evacuation Strategy</a>
                    <a href="../pages/compartment.html">- Compartmentation</a>
                    <a href="../pages/escape.html">- Means of Escape</a>
                    <a href="../pages/pava.html">- PA/VA System</a>
                </div>
            </div>

            <div class="has-submenu">
                <a href="../index.html" class="submenu-toggle">Services <span>+</span></a>
                <div class="submenu">
                    <a href="../pages/fra.html">- Fire Risk Assessment</a>
                    <a href="../pages/intri-main.html">- System Integration and Maintenance</a>
                    <a href="../pages/firedrill.html">- Fire Drill and Awareness</a>
                    <a href="../pages/firelicense.html">- Fire License / NOC</a>
                </div>
            </div>

            <a href="../pages/about.html">About Us</a>
            <a href="../pages/sustain.html">Sustainability</a>
        </div>

        <div class="brochure">
            <a href="/"  id="downloadLink" class="download-brochure">Download Brochure</a>
        </div>

    </nav>

</header>


</html>
