<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Header HTML">
    <base href="/aashthafire/">
</head>

<header class="header-content">
    <div class="logo-img">
        <a href="../index.html">
            <img src="../assets/images/self/logoImage.webp" alt="Logo" class="logo">
        </a>
    </div>

    <div class="title">
        <span id="name">Aashtha</span>
        <span id="jobTitle">Fire Engineers</span>
    </div>


    <div class="button-wrapper">
        <button class="menu-btn" id="menuBtn">
            <span class="menu-icon">☰</span>
            <span class="close-icon" style="display:none">✖</span>
        </button>
    </div>


    <div class="nav-container">
        <nav class="nav-links">
            <a href="../index.html" class="nav-link" data-page="home">Home</a>
            <div class="has-submenu">
                <a href="../index.html" class="submenu-toggle">Safety and Security ▼</a>
                <div class="submenu">
                    <a href="../pages/evacuation.html" class="nav-link">Evacuation Strategy</a>
                    <a href="../pages/compartment.html" class="nav-link">Compartmentation</a>
                    <a href="../pages/escape.html" class="nav-link">Means of Escape</a>
                    <a href="../pages/pava.html" class="nav-link">PA/VA System</a>
                </div>
            </div>
            <div class="has-submenu">
                <a href="../index.html" class="submenu-toggle">Services ▼</a>
                <div class="submenu">
                    <a href="../pages/fra.html" class="nav-link">Fire Risk Assessment</a>
                    <a href="../pages/intri-main.html" class="nav-link">System Integration and Maintenance</a>
                    <a href="../pages/firedrill.html" class="nav-link">Fire Drill and Awareness</a>
                    <a href="../pages/firelicense.html" class="nav-link">Fire License / NOC</a>
                </div>
            </div>
            <a href="../pages/about.html" class="nav-link">About Us</a>
            <a href="../pages/sustain.html" class="nav-link">Sustainability</a>

        </nav>
    </div>

    <!-- Mobile Navigation  -->
    <nav class="mobile-nav" id="mobileNav">
        <a href="../index.html">Home</a>

        <div class="has-submenu">
            <a href="../index.html" class="submenu-toggle">Safety and Security ▼</a>
            <div class="submenu">
                <a href="../pages/evacuation.html">Evacuation Strategy</a>
                <a href="../pages/compartment.html">Compartmentation</a>
                <a href="../pages/escape.html">Means of Escape</a>
                <a href="../pages/pava.html">PA/VA System</a>
            </div>
        </div>

        <div class="has-submenu">
            <a href="../index.html" class="submenu-toggle">Services ▼</a>
            <div class="submenu">
                <a href="../pages/fra.html">Fire Risk Assessment</a>
                <a href="../pages/intri-main.html">System Integration and Maintenance</a>
                <a href="../pages/firedrill.html">Fire Drill and Awareness</a>
                <a href="../pages/firelicense.html">Fire License / NOC</a>
            </div>
        </div>

        <a href="../pages/about.html">About Us</a>
        <a href="../pages/sustain.html">Sustainability</a>

        <div class="mobile-nav-banner">
            <img src="../assets/images/self/banner.webp" alt="Banner Image">
            <p>Your Faith, Our Pledge</p>
        </div>

    </nav>

</header>


</html>
